body {
    margin: 0 auto;
    // min-width: 1000px;
    box-sizing: border-box;
    font-family: sans-serif;
    // background: $greyish1;
    background: #fff;
}
.header {
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    padding: $commSidePadding $commSidePadding 0 $commSidePadding;
    // background: $pointColor;
    border-bottom: 1px solid $pointColor;
    background: rgba($greyish1 , .5);
    backdrop-filter: blur(8px);

    &__function {
        margin: 10px 0;
    }
    &__commPath {
        display: inline-block;
        input {
            padding: 5px 10px;
            height: 30px;
            width: 500px;

            &:focus {
                border-color: $pointColor;
                outline: none;
            }
        }
    }
    &__toggleMode {
        display: inline-block;
        margin-right: 20px;
        border-radius: 5px;
        background: $subColor;
        label {
            display: inline-block;
            cursor: pointer;
        }
        input {
            width: 0; height: 0;

            &:checked + .header__toggleModeText {
                color: $pointColor;
                font-weight: 500;
                box-shadow: 0 0 5px rgba($pointColor,.2);
                background: #fff;
            }
            &:not(:checked):hover {
                + .header__toggleModeText {
                    color: #000;
                }
            }
        }
        &Text {
            display: inline-block;
            margin: 3px;
            padding: 3px 15px;
            border-radius: 5px;
            font-size: 13px;
            color: #777;
            background: $subColor;
        }
    }
}
.content {
    padding: 0 $commSidePadding;
}


// table width
[class^="col__"] {width:auto }
.col__worklist-status {width:80px}
.col__1depth {}
.col__TYPE {width:80px;}
.col__SCREEN-ID {width:100px; text-align: center;}
.col__Released,
.col__Modified {width: 80px;}
.col__worklist-path {width:14%}
.col__worklist-note {width:14%;}