$url : '/images/';
$spriteURL : '/images/sprite/';
$spriteCache : '?v20210923';

// FONT
$defFontsize : 16px;
$defLineHeight : 1.5em;
$fontfamily: '맑은 고딕',Helvetica,sans-serif !default;

// 공통 좌우 패딩
$commSidePadding : 30px;

// 공통 하단여백
$pageBottomMargin : 180px;

// container common width
$containerWidth: 1180px;

// media
$mobileSize : 320px;
$tabletSize : 768px;
$pcSize : 1180px;


// color
$pointColor : #405289;
$dangerColor : #ff0025;
$subColor : #e3e4e9;

$darkColor : #eee;
$greyish1 : #f4f5f7;

$status-stay :transparent;
$status-ing :#f2f8ff;
$status-complete : #f3fef2;
$status-equal : #fcfcd6;
$status-del :#aaa;


.pointColor { color:$pointColor !important; }
.redColor {color:$dangerColor !important;}
.darkColor {color:$darkColor !important;}
